# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TamDT\vschool_BE\RMI-DDHT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
